body{
    padding: 0;
    margin: 0;
}

.container{
    background-color: #8ae8ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop{
    background-color: #fff;
    border: 2.5px solid #353839;
    height: 200px;
    width: 200px;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
}